<div *ngIf="item">
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button *ngIf="!isEdit" (click)="editItem()">
      <ion-icon name="create" ></ion-icon>
    </ion-fab-button>
    <ion-fab-button *ngIf="isEdit" (click)="saveItem()">
      <ion-icon name="save-outline" ></ion-icon>
    </ion-fab-button>
    <ion-fab-button *ngIf="!isEdit" (click)="deleteItem()">
      <ion-icon name="trash" ></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <form>
    <ion-list>
      <ion-row>
        <ion-col class="id" size="12">
          <h5>Location:</h5>
          <ion-input required type="text" [(ngModel)]="item.id" [disabled]="!isEdit" name="storeNumber">
          </ion-input>
        </ion-col>
        <ion-row>
          <ion-col>
            <ion-row>
              <ion-item>
                <ion-label position="stacked">Route ID:</ion-label> <br>
                <ion-input type="text" required [(ngModel)]="item.routeId" [disabled]="!isEdit" name="routeId">
                </ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Route Name:</ion-label> <br>
                <ion-input type="text" required [(ngModel)]="item.route" [disabled]="!isEdit" name="route"> </ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Vendor ID:</ion-label> <br>
                <ion-input type="text" required [(ngModel)]="item.vendorId" [disabled]="!isEdit" name="vendorId">
                </ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Vendor Name:</ion-label> <br>
                <ion-input type="text" required [(ngModel)]="item.vendorName" [disabled]="!isEdit" name="vendorName">
                </ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Driver ID:</ion-label> <br>
                <ion-input type="text" required [(ngModel)]="item.driverId" [disabled]="!isEdit" name="driverId">
                </ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Stop Number:</ion-label> <br>
                <ion-input type="number" required [(ngModel)]="item.stopNo" [disabled]="!isEdit" name="stopNo">
                </ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Stop ID:</ion-label> <br>
                <ion-input required type="text" [(ngModel)]="item.stopId" [disabled]="!isEdit" name="stopId">
                </ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Stop Status:</ion-label> <br>
                <ion-input required type="text" [(ngModel)]="item.stopStatus" [disabled]="!isEdit" name="stopStatus">
                </ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Account Name:</ion-label> <br>
                <ion-input required type="text" [(ngModel)]="item.accountName" [disabled]="!isEdit" name="accountName">
                </ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Team ID:</ion-label> <br>
                <ion-input required type="text" [(ngModel)]="item.teamReferenceId" [disabled]="!isEdit"
                  name="teamReferenceId"> </ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Item Pkg ID:</ion-label> <br>
                <ion-input required type="text" [(ngModel)]="item.itemPkgId" [disabled]="!isEdit" name="itemPkgId">
                </ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">SKU:</ion-label> <br>
                <ion-input required type="text" [(ngModel)]="item.itemSku" [disabled]="!isEdit" name="itemSku">
                </ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Type:</ion-label> <br>
                <ion-input required type="text" [(ngModel)]="item.itemType" [disabled]="!isEdit" name="itemType">
                </ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Item:</ion-label> <br>
                <ion-input required type="text" [(ngModel)]="item.itemDesc1" [disabled]="!isEdit" name="itemDesc1">
                </ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Item Desc:</ion-label> <br>
                <ion-input required type="text" [(ngModel)]="item.itemDesc2" [disabled]="!isEdit" name="itemDesc2">
                </ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Price:</ion-label> <br>
                <ion-input required type="number" [(ngModel)]="item.price" [disabled]="!isEdit" name="price">
                </ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Adj Price:</ion-label> <br>
                <ion-input required type="number" [(ngModel)]="item.adjustedPrice" [disabled]="!isEdit"
                  name="adjustedPrice"> </ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Item Status:</ion-label> <br>
                <ion-input required type="text" [(ngModel)]="item.itemStatus" [disabled]="!isEdit" name="itemStatus">
                </ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Adj Price:</ion-label> <br>
                <ion-input required type="number" [(ngModel)]="item.orderQty" [disabled]="!isEdit" name="orderQty">
                </ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Last Order QTY:</ion-label> <br>
                <ion-input required type="number" [(ngModel)]="item.lastOrderQty" [disabled]="!isEdit"
                  name="lastOrderQty"> </ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Exception QTY:</ion-label> <br>
                <ion-input required type="number" [(ngModel)]="item.exceptionQty" [disabled]="!isEdit"
                  name="exceptionQty"> </ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Cubes:</ion-label> <br>
                <ion-input required type="number" [(ngModel)]="item.cubes" [disabled]="!isEdit" name="cubes">
                </ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Rated Value:</ion-label> <br>
                <ion-input required type="number" [(ngModel)]="item.ratedValue" [disabled]="!isEdit" name="ratedValue">
                </ion-input>
              </ion-item>



              <ion-item>
                <ion-label position="stacked">Delivered:
                </ion-label>
                <ion-input required type="text"
                  value="{{ item.deliverDate.monthName + ' ' + item.deliverDate.day + ', ' + item.deliverDate.year }}"
                  [disabled]="!isEdit" name="deliverDate"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Notes:</ion-label>
                <ion-textarea required type="text" [(ngModel)]="item.notes" [disabled]="!isEdit" name="notes" rows="6">
                </ion-textarea>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Refusal Reason(s):</ion-label>
                <ion-textarea required type="text" [(ngModel)]="item.refusalReason" [disabled]="!isEdit" name="refusalReason" rows="6">
                </ion-textarea>
              </ion-item>


              <ion-item>
                <ion-row>
                  <ion-col>
                    <ion-label position="stacked">Even Exchange:</ion-label> <br>
                    <ion-checkbox required [checked]="item.isEvenExchange" [(ngModel)]="item.isEvenExchange" [disabled]="!isEdit" name="isEvenExchange">
                    </ion-checkbox>
                  </ion-col>

                  <ion-col>
                    <ion-label position="stacked">Pickup Only:</ion-label> <br>
                    <ion-checkbox required [checked]="item.isEvenExchange" [(ngModel)]="item.isPickupOnly" [disabled]="!isEdit" name="isPickupOnly">
                    </ion-checkbox>
                  </ion-col>

                  <ion-col>
                    <ion-label position="stacked">Active:</ion-label> <br>
                    <ion-checkbox required [checked]="item.isEvenExchange" [(ngModel)]="item.isActive" [disabled]="!isEdit" name="isActive">
                    </ion-checkbox>
                  </ion-col>

                  <ion-col>
                    <ion-label position="stacked">Billable:</ion-label> <br>
                    <ion-checkbox required [checked]="item.isEvenExchange" [(ngModel)]="item.isBillable" [disabled]="!isEdit" name="isBillable">
                    </ion-checkbox>
                  </ion-col>
                </ion-row>

              </ion-item>

              <ion-item>
                <ion-row>
                  <ion-col>
                    <ion-label position="stacked">Updated By:</ion-label>
                    <ion-textarea required type="text" [(ngModel)]="item.updatedBy" [disabled]="!isEdit" name="updatedBy" rows="6">
                    </ion-textarea> 
                  </ion-col>
                  <ion-col>
                    <ion-label position="stacked">On:</ion-label>
                    <ion-input required type="text"
                      value="{{ item.updateDate.monthName + ' ' + item.updateDate.day + ', ' + item.updateDate.year }}"
                      [disabled]="!isEdit" name="updateDate" ></ion-input>
                  </ion-col>
                </ion-row>
              </ion-item>

            </ion-row>

          </ion-col>
        </ion-row>
      </ion-row>

    </ion-list>
  </form>

</div>