<ion-list class="login-content" padding>
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-67>
      <img src="assets/imgs/OSTLogoLarge.png" />
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <ion-row>
    <form (ngSubmit)="login()" #registerForm="ngForm" class="login-box">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input [(ngModel)]="email" name="email" placeholder="email@example.com"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password" name="password" [(ngModel)]="password" placeholder="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-button [disabled]="!registerForm.form.valid" (click)="login()" expand="block">
        Login
      </ion-button>
    </form>
  </ion-row>
</ion-list>