<div *ngIf="location">
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button *ngIf="!isEdit">
      <ion-icon name="create" (click)="editLocation()"></ion-icon>
    </ion-fab-button>
    <ion-fab-button *ngIf="isEdit">
      <ion-icon name="save-outline" (click)="saveLocation()"></ion-icon>
    </ion-fab-button>
    <ion-fab-button *ngIf="!isEdit">
      <ion-icon name="trash" (click)="deleteLocation()"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <form>
    <ion-list>
      <ion-row>
        <ion-col class="id" size="12">
          <h5>Location:</h5>
          <ion-input required type="text" [(ngModel)]="location.id" [disabled]="!isEdit"
          name="storeNumber">
        </ion-input>

        </ion-col>
        <ion-row>
          <ion-col>
            <ion-row>
              <ion-item [ngClass]="{hidden: location.active === false && !isEdit}">
                <ion-label position="stacked">Active:</ion-label> <br>
                <ion-checkbox required [(ngModel)]="location.active" [disabled]="!isEdit" name="active"> </ion-checkbox>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Number:</ion-label>
                <ion-input required type="text" [(ngModel)]="location.storeNumber" [disabled]="!isEdit"
                  name="storeNumber">
                </ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Name:</ion-label>
                <ion-input required type="text" [(ngModel)]="location.name" [disabled]="!isEdit" name="name">
                </ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Address Line 1:</ion-label>
                <ion-input required type="text" [(ngModel)]="location.address1" [disabled]="!isEdit" name="address1">
                </ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Address Line 2:</ion-label>
                <ion-input required type="text" [(ngModel)]="location.address2" [disabled]="!isEdit" name="address2">
                </ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">City:</ion-label>
                <ion-input required type="text" [(ngModel)]="location.city" [disabled]="!isEdit" name="city">
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">State:</ion-label>
                <ion-input required type="text" [(ngModel)]="location.state" [disabled]="!isEdit" name="state">
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Zip Code:</ion-label>
                <ion-input required type="number" [(ngModel)]="location.zip" [disabled]="!isEdit" name="zip">
                </ion-input>
              </ion-item>


              <ion-item>
                <ion-label position="stacked">Phone:</ion-label>
                <ion-input required type="text" [(ngModel)]="location.phone1" [disabled]="!isEdit" name="phone1">
                </ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked"> Alt Phone:</ion-label>
                <ion-input required type="text" [(ngModel)]="location.phone2" [disabled]="!isEdit" name="phone2">
                </ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Email:</ion-label>
                <ion-input required type="email" [(ngModel)]="location.email" [disabled]="!isEdit" name="namemaile">
                </ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Contact:</ion-label>
                <ion-input required type="text" [(ngModel)]="location.contact" [disabled]="!isEdit" name="contact">
                </ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Added:
                </ion-label>
                <ion-input required type="text"
                  value="{{ location.addedDate.monthName + ' ' + location.addedDate.day + ', ' + location.addedDate.year }}"
                  [disabled]="!isEdit" name="addedDate"></ion-input>
              </ion-item>

              <ion-item [ngClass]="{hidden: location.removedDate === null && !isEdit}">
                <ion-label position="stacked">Removed:
                </ion-label>
                <ion-input required type="text"
                  value="{{ location.removedDate.monthName + ' ' + location.removedDate.day + ', ' + location.removedDate.year }}"
                  [disabled]="!isEdit" name="removedDate"></ion-input>
              </ion-item>
            </ion-row>
            <ion-item>
              <ion-label position="stacked">Notes:</ion-label>
              <ion-textarea required type="text" [(ngModel)]="location.notes" [disabled]="!isEdit" name="notes"
                rows="6">
              </ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-row>

    </ion-list>
  </form>

</div>

<ion-content >
  <ion-fab vertical="top" horizontal="end" slot="fixed" *ngIf="item">
    <ion-fab-button *ngIf="!isEdit">
      <ion-icon name="create" (click)="editLocation()"></ion-icon>
    </ion-fab-button>
    <ion-fab-button *ngIf="isEdit">
      <ion-icon name="save-outline" (click)="saveLocation()"></ion-icon>
    </ion-fab-button>
  </ion-fab>

<!-- 
  <ion-list lines="none">
    <ion-item  class="items" *ngIf="item">
      <ion-grid>
        <ion-col class="id" size="12">
            <h5>Item: {{item.id}}</h5>
        </ion-col>
      <ion-row class="header">
        <ion-col>
          Route: 
        </ion-col>
        <ion-col>
          Vendor:  
        </ion-col>
        <ion-col>
          Driver ID:  
        </ion-col>

      </ion-row>
      <ion-row class="content">
        <ion-col>
          {{item.routeId}} : {{item.routeName}}
        </ion-col>
        <ion-col>
          {{item.vendorId}} : {{item.vendorName}}
        </ion-col>
        <ion-col>
          {{item.driverId}}
        </ion-col>

      </ion-row>
      <br>
      <ion-row class="header">
        <ion-col>
          Stop #: 
        </ion-col>
        <ion-col>
          Stop:  
        </ion-col>
        <ion-col>
          Stop Status: 
        </ion-col>

      </ion-row>
      <ion-row class="content">

        <ion-col>
          {{item.stopNo}}
        </ion-col>
        <ion-col>
          {{item.stopId}}
        </ion-col>
        <ion-col>
          {{item.stopStatus}}
        </ion-col>


      </ion-row>
      <br>
      <ion-row class="header">
        <ion-col>
          Account: 
        </ion-col>
        <ion-col>
          Team ID: 
        </ion-col>
      </ion-row>
      <ion-row class="content">

        <ion-col>
          {{item.accountName}}
        </ion-col>
        <ion-col>
          {{item.teamReferenceId}}
        </ion-col>
      </ion-row>

      <br>
      <ion-row class="header">
        <ion-col>
          Item Pkg ID
        </ion-col>
        <ion-col>
          SKU
        </ion-col>
        <ion-col>
          Item Type
        </ion-col>
      </ion-row>
      <ion-row class="content">
        <ion-col>
          {{item.itemPkgId}}
        </ion-col>
        <ion-col>
          {{item.itemSku}}
        </ion-col>
        <ion-col>
          {{item.itemType}}
        </ion-col>
      </ion-row>

      <br>

      <ion-row class="header">
        <ion-col>
          Item Desc
        </ion-col>
        <ion-col>
          Price
        </ion-col>
        <ion-col>
          Adjusted Price
        </ion-col>
      </ion-row>
      <ion-row class="content">
        <ion-col>
          {{item.itemDesc1}} --
          {{item.itemDesc2}}
        </ion-col>
        <ion-col>
          {{item.price}}
        </ion-col>
        <ion-col>
          {{item.adjustedPrice}}
        </ion-col>
      </ion-row>

      <br>

      <ion-row class="header">
        <ion-col>
          Item Status
        </ion-col>
        <ion-col>
          Order QTY
        </ion-col>
        <ion-col>
          Last Order QTY
        </ion-col>
        <ion-col>
          Exception QTY
        </ion-col>
      </ion-row>
      <ion-row class="content">
        <ion-col>
          {{item.itemStatus}}
        </ion-col>
        <ion-col>
          {{item.orderQty}}
        </ion-col>
        <ion-col>
          {{item.lastOrderQty}}
        </ion-col>
        <ion-col>
          {{item.exceptionQty}}
        </ion-col>
      </ion-row>

      <br>

      <ion-row class="header">
        <ion-col>
          Even Exchange
        </ion-col>
        <ion-col>
          Pickup Only
        </ion-col>
        <ion-col>
          Active
        </ion-col>
        <ion-col>
          Billable
        </ion-col>
      </ion-row>
      <ion-row class="content">
        <ion-col>
          <ion-checkbox [checked]="item.isEvenExchange"></ion-checkbox>
        </ion-col>
        <ion-col>
          <ion-checkbox [checked]="item.isPickupOnly"></ion-checkbox>
        </ion-col>
        <ion-col>
          <ion-checkbox [checked]="item.isActive"></ion-checkbox>
        </ion-col>
        <ion-col>
          <ion-checkbox [checked]="item.isBillable"></ion-checkbox>
        </ion-col>
      </ion-row>

      <br>
      
      <ion-row class="header">

        <ion-col>
          Deliver Date
        </ion-col>
        <ion-col>
          Refusal Reason(s)
        </ion-col>
        <ion-col>
          Rated Value
        </ion-col>
      </ion-row>
      <ion-row class="content">

        <ion-col>
          {{item.deliverDate}}
        </ion-col>
        <ion-col>
          {{item.refusalReason}}
        </ion-col>
        <ion-col>
          {{item.ratedValue}}
        </ion-col>
      </ion-row>

      <br>
      <ion-row class="header">
        <ion-col>
          Notes
        </ion-col>
      </ion-row>
      <ion-row class="content">
        <ion-col>{{item.notes}}</ion-col>
      </ion-row>

      <br>
      <ion-row ion-row class="header">
        <ion-col>
          Last updated by {{item.updatedBy}} on {{item.updateDate}}
        </ion-col>
      </ion-row>

    </ion-grid>
    </ion-item>
  </ion-list>
</ion-content> -->




