<ion-header no-border class="bar bar-subheader">
  <ion-toolbar mode="ios">
    <ion-title>
      Items
    </ion-title>
    <ion-icon slot="end" *ngIf="!toggled" (click)="toggle()" name="search"></ion-icon>
  </ion-toolbar>
  <ion-toolbar *ngIf="toggled">
    <ion-searchbar
    (ionInput)="searchThis($event)"
    (ionCancel)="cancelSearch($event)"
    (ionClear) = "cancelSearch($event)"
    [showCancelButton]="true">
   </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item routerLink="/item/{{ item.id }}" routerDirection="forward" class="items"  *ngFor="let item of items">
      <ion-grid >
          <ion-col class="id" size="12" >
              <ion-label [ngClass]="item.isBillable ? 'completed' : 'pending' " color="primary">Item: {{item.id}}</ion-label>
          </ion-col>
        <ion-row class="header">
          <ion-col>
            Route: 
          </ion-col>
          <ion-col>
            Vendor:  
          </ion-col>
          <ion-col>
            Driver ID:  
          </ion-col>

        </ion-row>
        <ion-row class="content">
          <ion-col>
            {{item.routeId}} : {{item.routeName}}
          </ion-col>
          <ion-col>
            {{item.vendorId}} : {{item.vendorName}}
          </ion-col>
          <ion-col>
            {{item.driverId}}
          </ion-col>

        </ion-row>
        <br>
        <ion-row class="header">
          <ion-col>
            Stop #: 
          </ion-col>
          <ion-col>
            Stop:  
          </ion-col>
          <ion-col>
            Stop Status: 
          </ion-col>

        </ion-row>
        <ion-row class="content">

          <ion-col>
            {{item.stopNo}}
          </ion-col>
          <ion-col>
            {{item.stopId}}
          </ion-col>
          <ion-col>
            {{item.stopStatus}}
          </ion-col>


        </ion-row>
        <br>
        <ion-row class="header">
          <ion-col>
            Account: 
          </ion-col>
          <ion-col>
            Team ID: 
          </ion-col>
        </ion-row>
        <ion-row class="content">

          <ion-col>
            {{item.accountName}}
          </ion-col>
          <ion-col>
            {{item.teamReferenceId}}
          </ion-col>
        </ion-row>

        <br>
        <ion-row class="header">
          <ion-col>
            Item Pkg ID
          </ion-col>
          <ion-col>
            SKU
          </ion-col>
          <ion-col>
            Item Type
          </ion-col>
          <ion-col>
            Item Status
          </ion-col>
        </ion-row>
        <ion-row class="content">
          <ion-col>
            {{item.itemPkgId}}
          </ion-col>
          <ion-col>
            {{item.itemSku}}
          </ion-col>
          <ion-col>
            {{item.itemType}}
          </ion-col>
          <ion-col>
            {{item.itemStatus}}
          </ion-col>
        </ion-row>

        <br>

        <ion-row class="header">
          <ion-col>
            Item Name
          </ion-col>
          <ion-col>
            Item Desc
          </ion-col>
          <ion-col>
            Order QTY
          </ion-col>
        </ion-row>
        <ion-row class="content">
          <ion-col>
            {{item.itemDesc1}} 
          </ion-col>
          <ion-col>
            {{item.itemDesc2}}
          </ion-col>
          <ion-col>
            {{item.orderQty}}
          </ion-col>

        </ion-row>

        <br>
        <ion-row class="header">
            Notes
        </ion-row>
        <ion-row class="content">
          {{item.notes}}
        </ion-row>
        <br>
      </ion-grid>
      <br>
    </ion-item>
  </ion-list>
</ion-content>