<ion-header no-border>
  <ion-toolbar mode="ios">
    <ion-title>Add User</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goHome()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center>
        <form #registerForm (ngSubmit)="register()">
        <ion-item>
          <ion-label stacked>E-mail</ion-label>
          <ion-input [(ngModel)]="email" placeholder="email@example.com"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Password</ion-label>
          <ion-input type="password" [(ngModel)]="password" plassholder="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Salt</ion-label>
          <ion-input type="salt" [(ngModel)]="salt" plassholder="salt"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Admin Access</ion-label>
          <ion-checkbox color="primary" slot="start"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Client</ion-label>
          <ion-select placeholder="Select One">
            <ion-select-option *ngFor="let client of user.clientId">{{client.name}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button type="submit" expand="block">
        Add User
        </ion-button>
      </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>