<div *ngIf="order">
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button *ngIf="!isEdit" (click)="editOrder()">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
    <ion-fab-button *ngIf="isEdit" (click)="saveOrder()">
      <ion-icon name="save-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <form>
    <ion-list>
      <ion-row>
        <ion-col class="id" size="12">
          <h5>Order: {{order.id}}</h5>
      </ion-col>
        <ion-row>
          <ion-col>
            <ion-row>
              <ion-row>
                <ion-col class="image-wrapper">
                    <ion-img [src]="order.receiptImageLocation" [disabled]="!isEdit" name="receipt" width="100%">
                    </ion-img>
                </ion-col>
              </ion-row>

              <ion-item>
                <ion-label position="stacked">Customer ID:</ion-label>
                <ion-input required type="number" [(ngModel)]="order.customerId" [disabled]="!isEdit" name="customerId">
                </ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Order Date:</ion-label>
                <ion-input required type="text"
                  value="{{ order.orderDate.monthName + ' ' + order.orderDate.day + ', ' + order.orderDate.year }}"
                  [disabled]="!isEdit" name="orderDate"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Sales Person:</ion-label>
                <ion-input required type="text" [(ngModel)]="order.salesPerson" [disabled]="!isEdit" name="salesPerson">
                </ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">SO:</ion-label>
                <ion-input required type="number" [(ngModel)]="order.soNumber" [disabled]="!isEdit" name="soNumber">
                </ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Picked Up</ion-label> <br>
                <ion-checkbox required [(ngModel)]="order.isPickedUp" [disabled]="!isEdit" name="isPickedUp">
                </ion-checkbox>
                <ion-label position="stacked">On:
                </ion-label>
                <ion-input required type="text"
                  value="{{ order.pickupDate.monthName + ' ' + order.pickupDate.day + ', ' + order.pickupDate.year }}"
                  [disabled]="!isEdit" name="deliverDate"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Delivered</ion-label> <br>
                <ion-checkbox required [(ngModel)]="order.isDelivered" [disabled]="!isEdit" name="isDelivered">
                </ion-checkbox>
                <ion-label position="stacked">On:
                </ion-label>
                <ion-input required type="text"
                  value="{{ order.deliverDate.monthName + ' ' + order.deliverDate.day + ', ' + order.deliverDate.year }}"
                  [disabled]="!isEdit" name="deliverDate"></ion-input>
              </ion-item>



              <ion-item>
                <ion-label position="stacked">Order Amount:</ion-label>
                <ion-input currencyMask required type="number" [(ngModel)]="order.orderAmount" [disabled]="!isEdit"
                  name="orderAmount">
                </ion-input>

              </ion-item>

              <ion-item>
                <ion-label position="stacked">Status:</ion-label>
                <ion-input required type="text" [(ngModel)]="order.status" [disabled]="!isEdit" name="status">
                </ion-input>
              </ion-item>


              <ion-item class="items">
                <ion-row routerLink="/item/{{ item.id }}" routerDirection="forward" class="products" *ngFor="let item of order.items" class="products" >
                  <ion-col size="12">
                  </ion-col>

                  <ion-col size="3">
                    <ion-label position="stacked">SKU</ion-label>
                    <ion-input required type="text" [(ngModel)]="item.itemSku" [disabled]="!isEdit" name="itemSku">
                    </ion-input>
                  </ion-col>

                  <ion-col size="5">
                    <ion-label position="stacked">Name and Desc</ion-label>
                    <ion-input required type="text" [(ngModel)]="item.itemDesc1" [disabled]="!isEdit" name="itemDesc1">
                    </ion-input>
                    <ion-input required type="text" [(ngModel)]="item.itemDesc2" [disabled]="!isEdit" name="itemDesc2">
                    </ion-input>
                  </ion-col>

                  <ion-col size="2">
                    <ion-label position="stacked">Price</ion-label>
                    <ion-input required type="number" [(ngModel)]="item.price" [disabled]="!isEdit" name="price">
                    </ion-input>
                  </ion-col>

                  <ion-col size="2">
                    <ion-label position="stacked">QTY</ion-label>
                    <ion-input required type="number" [(ngModel)]="item.orderQty" [disabled]="!isEdit" name="orderQty">
                    </ion-input>
                  </ion-col>
                </ion-row>
              </ion-item>
              <ion-item>
                <ion-row>
                  <ion-col size="12">
                    <ion-label position="stacked">Total Items:</ion-label>
                    <ion-input required type="text" [(ngModel)]="order.itemCount" [disabled]="!isEdit" name="itemCount"></ion-input>
                  </ion-col>
                </ion-row>
              </ion-item>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-row>
    </ion-list>
  </form>
  <ion-fab-button *ngIf="!isEdit">
    <ion-icon name="trash" (click)="deleteOrder()"></ion-icon>
  </ion-fab-button>
</div>




<!-- <div *ngIf="order">
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="create" (click)="editOrder()"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <form>
    <ion-list lines="none">
      <ion-item class="orders">
        <ion-grid>
          <ion-row class="header">
            <ion-col>
              Order #
            </ion-col>
            <ion-col>
              Status
            </ion-col>
            <ion-col>
              Sales Person
            </ion-col>
            <ion-col>
              SO
            </ion-col>
            <ion-col>
              Order Amount
            </ion-col>
            <ion-col>
              Item QTY
            </ion-col>
            <ion-col>
              Location
            </ion-col>
          </ion-row>
          <ion-row class="content">
            <ion-col>
              {{order.id}}
            </ion-col>
            <ion-col>
              {{ order.isPickedUp ? 'Picked Up' : 'Pending Pickup'}} --
              {{ order.isDelivered ? 'Delivered' : 'Pending Delivery'}}
            </ion-col>
            <ion-col>
              {{order.salesPerson}}
            </ion-col>
            <ion-col>
              {{order.soNumber}}
            </ion-col>
            <ion-col>
              {{order.orderAmount}}
            </ion-col>
            <ion-col>
              {{order.itemCount}}
            </ion-col>
            <ion-col>
              {{order.clientLocationId}}
            </ion-col>
          </ion-row>

          <br>
          <br>

          <ion-row class="header">
            <ion-col>
              SKU
            </ion-col>
            <ion-col>
              Desc
            </ion-col>
            <ion-col>
              QTY
            </ion-col>
            <ion-col>
              Price
            </ion-col>
          </ion-row>
          <ion-row class="content" *ngFor="let item of order.items">
            <ion-col>
              {{item.itemSku}}
            </ion-col>
            <ion-col>
              <b>{{item.name}}</b><br>
              {{item.itemDesc1}} --
              {{item.itemDesc2}}
            </ion-col>
            <ion-col>
              {{item.orderQty}}
            </ion-col>
            <ion-col>
              {{item.price}}
            </ion-col>
          </ion-row>

          <br>
          <br>

          <ion-row class="header">
            <ion-col size="4">
              Receipt
            </ion-col>
            <ion-col>
              Pickup Date
            </ion-col>
            <ion-col>
              Delivery Date
            </ion-col>
            <ion-col>
              Rating
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4">
              <img [src]="order.receiptImageLocation" alt="receipt" width="100%">
            </ion-col>
            <ion-col>
              {{ order.pickupDate | date }}
            </ion-col>
            <ion-col>
              {{ order.deliverDate | date }}
            </ion-col>
            <ion-col>
              {{order.rating}} out of 5
            </ion-col>
          </ion-row>

          <br>
          <br>

          <ion-row>
            <ion-button click="editOrder()">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button click="deleteOrder()">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
            <ion-button click="saveOrder()">
              <ion-icon name="save-outline"></ion-icon>
            </ion-button>
          </ion-row>

        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-button full round *ngIf="isEdit" (click)="saveOrder()">Save</ion-button>
      </ion-item>

    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button [disabled]="!isEdit">
        <ion-icon name="trash" (click)="deleteOrder()"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
  </ion-content> -->