<ion-header no-border class="bar bar-subheader">
  <ion-toolbar mode="ios">
    <ion-title>
      Orders
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item class="orders" *ngFor="let order of orders">
      <ion-grid>

        <ion-row class="header">
          <ion-col>
            Order #
          </ion-col>
          <ion-col>
            Status
          </ion-col>
          <ion-col>
            Sales Person
          </ion-col>
          <ion-col>
            SO
          </ion-col>
          <ion-col>
            Order Amount
          </ion-col>
          <ion-col>
            Item QTY
          </ion-col>
          <ion-col>
            Location
          </ion-col>
         </ion-row>
         <ion-row class="content">
          <ion-col>
            {{order.id}}
          </ion-col>
          <ion-col>
            {{ order.isPickedUp ? 'Picked Up' : 'Pending Pickup'}} -- {{ order.isDelivered ? 'Delivered' : 'Pending Delivery'}}
          </ion-col>
          <ion-col>
            {{order.salesPerson}}
          </ion-col>
          <ion-col>
            {{order.soNumber}}
          </ion-col>
          <ion-col>
            {{order.orderAmount}}
          </ion-col>
          <ion-col>
            {{order.itemCount}}
          </ion-col>
          <ion-col href='tabs/location'>
            {{order.clientLocationId}}
          </ion-col>
         </ion-row>
         <ion-button routerLink="['/order-detail/'], order.id"><ion-icon name="chevron-forward-outline"></ion-icon></ion-button>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>