<ion-header no-border class="bar bar-subheader">
  <ion-toolbar mode="ios">
    <ion-title>
      Orders
      </ion-title>
      <ion-icon slot="end" [(ngModel)]="term" *ngIf="!toggled" (click)="toggle()" name="search"></ion-icon>
  </ion-toolbar>
  <ion-toolbar *ngIf="toggled">
    <ion-searchbar [(ngModel)]="term" (ionInput)="searchThis($event)" (ionCancel)="cancelSearch($event)"
      (ionClear)="cancelSearch($event)" [showCancelButton]="true">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item routerLink="/order/{{ order.id }}" routerDirection="forward" class="orders"
      *ngFor="let order of orders | orderSearch: term">
      <ion-grid [ngClass]="order.isDelivered ? 'completed' : 'pending' ">
        <ion-row>
          <ion-col class="id">
            <ion-label color="primary">
              Order : {{order.id}}
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="header">
          <ion-col>
            Status
          </ion-col>
          <ion-col>
            Order Amount
          </ion-col>
          <ion-col>
            Item QTY
          </ion-col>
          <ion-col>
            Loc
          </ion-col>
        </ion-row>
        <ion-row class="content">
          <ion-col>
            {{ order.isPickedUp ? 'Picked Up' : 'Pending Pickup'}} <br>
            {{ order.isDelivered ? 'Delivered' : 'Pending Delivery'}}
          </ion-col>
          <ion-col>
            {{order.orderAmount}}
          </ion-col>
          <ion-col>
            {{order.itemCount}}
          </ion-col>
          <ion-col>
            {{order.clientLocationId}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>