<ion-header no-border class="bar bar-subheader">
  <ion-toolbar mode="ios">
    <ion-title>
      Locations
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item class="locations" *ngFor="let loc of locations">
      <ion-grid>
        <ion-row class="header">
          <ion-col size="1">
            <h4>Status</h4>
          </ion-col>
        </ion-row>
        <ion-row>
          
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>