<ion-header>
  <ion-header no-border>
    <ion-toolbar mode="ios">
      <ion-title>
        View Item
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <app-item-detail [item]="item" [isEdit]="isEdit" (saveOrderEvent)="saveOrder($event)"
      (editOrderEvent)="editOrder($event)" (deleteOrderEvent)="deleteOrder($event)"></app-item-detail>
    <ion-list lines="none">
      <ion-item *ngFor="let loc of items; let i = index">
        <ion-card routerLink="/tabs/items/item-details/{{ loc.id }}" routerDirection="forward">
        </ion-card>
      </ion-item>
    </ion-list>
  </ion-content>