ion-content, ion-list {
  background-color: lavender;
}

ion-content ion-toolbar {
  --background: translucent;
}

ion-card {
  margin: 5px auto;
  max-width: 30%;
  box-shadow: 2px 3px 5px grey;
  animation: fadeIn 2s ease-out;
  border-radius: 25px;
}

.header {
  font-weight: bold;
  font-size: small;
  color: rbga(180,180,180,1);
  border-bottom: 1px gray solid;
}

.content {
  font-size: smaller;
}