<ion-header no-border class="bar bar-subheader">
  <ion-toolbar mode="ios">
    <ion-title>
      Locations
      </ion-title>
      <ion-buttons slot="end">
        <ion-button routerLink="/new-order">
          <ion-icon name="add"></ion-icon>
        </ion-button>
        <ion-button *ngIf="!toggled" (click)="toggle()">
          <ion-icon  name="search"></ion-icon>
        </ion-button>
      </ion-buttons>  </ion-toolbar>
  <ion-toolbar *ngIf="toggled">
    <ion-searchbar [(ngModel)]="term" (ionInput)="searchThis($event)" (ionCancel)="cancelSearch($event)"
      (ionClear)="cancelSearch($event)" [showCancelButton]="true">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item routerLink="/location/{{ loc.id }}" routerDirection="forward" class="locations"
      *ngFor="let loc of locations">
      <ion-grid>
        <ion-label color="primary">{{ loc.name }} : {{loc.id}}</ion-label>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>