
ion-content ion-toolbar {
  --background: translucent;
}

ion-item {
  margin: 5px auto;
  max-width: 90%;
  box-shadow: 2px 3px 5px grey;
  animation: fadeIn 2s ease-out;
  border-radius: 25px;
}

ion-item-divider {
  height: 5px !important
}

.header {
  font-weight: bold;
  font-size: small;
  color: rbga(180,180,180,1);
  border-bottom: 1px gray solid;
}

ion-label .name {
  text-align:center;
  margin: 5px auto;
}

.content {
  font-size: smaller;
}