<ion-app >

  <ion-menu side="start" menuId="first" contentId="content1">
    <ion-header>
      <ion-toolbar [color]="dynamicColor? dynamicColor:'primary'">
        <ion-title>Navigate</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
      <ion-menu-toggle auto-hide="true">
        <ion-item lines="full">
          <ion-icon slot="start" name="moon"></ion-icon>
          <ion-label>
            Dark Theme
          </ion-label>
          <ion-toggle id="themeToggle" slot="end" (click)="darkToggle()"></ion-toggle>
        </ion-item>
        <ion-item href="" routerDirection="root">App Home</ion-item>
        <ion-item href="settings" routerDirection="root">Settings</ion-item>
        <ion-item href="tabs/profile" routerDirection="root">Profile</ion-item>
        <ion-item (click)="logout()">Logout</ion-item>
      </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>



  <!-- <ion-menu side="start" type="overlay" menuId="mainMenu" class="main-menu">
    <ion-header>
      <ion-toolbar [color]="dynamicColor? dynamicColor:'primary'">
        <ion-title>Main Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item href="settings" routerDirection="root">Settings</ion-item>
        <ion-item href="tabs/profile" routerDirection="root">Profile</ion-item>
        <ion-item (click)="logout()">Logout</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-header no-border>
    <ion-toolbar mode="ios">
      <ion-title>
        OST <ion-icon name="arrow-forward-circle-outline"></ion-icon>N Demand
      </ion-title>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header> -->

  <ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>
