<ion-header no-border>
  <ion-toolbar mode="ios">
    <ion-title>
      View Location
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-location-detail [location]="location" [isEdit]="isEdit" (saveOrderEvent)="saveOrder($event)"
    (editOrderEvent)="editOrder($event)" (deleteOrderEvent)="deleteOrder($event)"></app-location-detail>
  <ion-list lines="none">
    <ion-item *ngFor="let loc of locations; let i = index">
      <ion-card routerLink="/tabs/locations/location-details/{{ loc.id }}" routerDirection="forward">
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>