<ion-header>
  <ion-toolbar [color]="dynamicColor? dynamicColor:'primary-tint'">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Location Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-toolbar>
      <ion-buttons>
        <ion-back-button defaultHref="tabs/location" text="" icon="arrow-back-outline"></ion-back-button>
      </ion-buttons>
      <ion-title *ngIf="location">
        Location: {{location.id}}
      </ion-title>
    </ion-toolbar>
  <app-location-detail [location]="location" [isEdit]="isEdit" (saveLocationEvent)="saveLocation($event)"
    (editLocationEvent)="editLocation($event)" (deleteLocationEvent)="deleteLocation($event)">
  </app-location-detail>
</ion-content>