ion-content ion-toolbar {
  --background: translucent;
}

@media only screen and (max-width: 600px) {
  ion-item {
      margin: 5px auto;
      max-width: 45%;
      box-shadow: 2px 3px 5px grey;
      animation: fadeIn 2s ease-out;
      border-radius: 25px;
  }
  ion-input {
      text-align: center;
      margin: 5px;
      font-size: small;
  }
  .content {
    font-size: small;
  }
}


@media only screen and (min-width: 601px) {
  ion-card {
      margin: 5px auto;
      min-width: 200px;
      max-width: 600px;
      min-height:200px;
      align-content: center;
      align-items: center;
      align-self: center;
      vertical-align: middle;
      box-shadow: 2px 3px 5px grey;
      animation: fadeIn 2s ease-out;
      border-radius: 25px;
      font-size: large;
      padding:20px
  }
}

.circle-pic{
  width:80px;
  height:80px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

ion-col {
  margin: 10px auto
}