<ion-header no-border class="bar bar-subheader">
  <ion-toolbar mode="ios">
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar [color]="dynamicColor? dynamicColor:'primary'">
      <ion-title>Profile</ion-title>
    </ion-toolbar>
  </ion-header> -->

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card *ngFor="let user of users">
            <img class="circle-pic" [src]="user.imageUrl" />
            <ion-card-title>
              User ID: {{user.id}} <br> 
            </ion-card-title>
          <ion-card-content>
            <h2>
              Email: {{user.email}}
            </h2>
              <p>
              Client {{user.clientId}} :
              {{user.isAdmin ? "Admin Privileges" : "No Admin Priveleges"}}</p>
          </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>  

</ion-content>
