<ion-header>
  <ion-toolbar [color]="dynamicColor? dynamicColor:'primary'">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Order Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-toolbar>
      <ion-buttons>
        <ion-back-button defaultHref="tabs/orders" text="" icon="arrow-back-outline"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  <app-order-detail [order]="order" [isEdit]="isEdit" (saveOrderEvent)="saveOrder($event)"
    (editOrderEvent)="editOrder($event)" (deleteOrderEvent)="deleteOrder($event)"></app-order-detail>
</ion-content>