

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';
@import './theme/animations.scss';
@import "./theme/variables.scss";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



ion-list{
    min-height: 100vh;
}

ion-row {
    text-align: center;
    align-items: center;
    align-content: center;
}

ion-card, ion-list {
    animation: cardAnimation 1.3s ease-in;
}

ion-title {
    animation: moveInRight 1.5s ease-in;
    text-transform: capitalize;
}

ion-button {
    animation: fadeIn 2s ease-in !important
}

ion-slides {
    overflow: scroll;
    --scroll-bar-background: primary
}

ion-item {
    margin: 7px auto;
    max-width: 95%;
    box-shadow: 2px 3px 5px grey;
    animation: fadeIn 2s ease-out;
    border-radius: 25px;
}

ion-item{ --border-color: white; border: 1px solid white }

.header-icon {
    animation: moveInLeft 1.7s ease-in;
    margin-right: 10px;
}


