<ion-content>
  <ion-list lines="none">
    <ion-item class="locations" *ngFor="let loc of locations">

      <ion-grid>

        <ion-row class="header">

          <ion-col size="1"><h4>Status</h4></ion-col>
          <ion-col size="1"><h4>Store:</h4></ion-col>
          <ion-col size="1"><h4>Added</h4></ion-col>
          <ion-col size="1"><h4>Removed</h4></ion-col>
          <ion-col><h4>Location:</h4></ion-col>
          <ion-col size="4"><h4>Address:</h4></ion-col>
          <ion-col size="2"><h4>Contact Info:</h4></ion-col>

        </ion-row>

        <ion-row class="content">

          <ion-col size="1"><div>{{ loc.active ? 'Active' : 'Disabled' }}</div></ion-col>
          <ion-col size="1"><div>{{loc.storeNumber}}</div></ion-col>
          <ion-col size="1"><div>{{loc.addedDate | date}}</div></ion-col>
          <ion-col size="1"><div>{{loc.removedDate | date}}</div></ion-col>
          <ion-col><div>{{loc.name}}</div></ion-col>
          <ion-col size="4"><div>{{loc.address1}} <br> {{loc.address2}}<br> {{loc.city}}, {{loc.state}} {{loc.zip}}</div></ion-col>
          <ion-col size="2"><div><ion-icon name="call-outline"></ion-icon> {{loc.phone1}} | <ion-icon name="call-outline"></ion-icon>{{loc.email}}</div></ion-col>
          
        </ion-row>

      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>